<launch>
  <param name="initial_package" type="string" value="tumgo_reasoning" />
  <param name="initial_goal" type="string" value="owl_parse('package://tumgo_reasoning/owl/semRoom_semantic_map.owl')" />
 
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />

</launch>